.nav-bar {
  background-color: #951555;
  height: 60px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  -webkit-box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.75);
}

.nav-bar h1 {
  margin: 0;
  margin-left: 50px;
  color: white;
}
