.nav-bar {
  background-color: #951555;
  height: 70px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 20px -6px rgba(0, 0, 0, 0.75);
}

.nav-bar h1 {
  margin: 0;
  margin-left: 50px;
  color: white;
}

.nav-item {
  list-style-type: none;
  width: 80%;
  margin: 0;
  padding: 0;
  margin-left: 100px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
}

.nav-item li a {
  display: block;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  color: white;

}
