.bttn {
  border: none;
  background-color: white;
  box-shadow: inset 1px 0px 5px #babebe;
  height: 95%;
  margin: 0.1rem;
  width: 50px;
  justify-self: flex-start;
  border-radius: 4px;
}

.run {
  width: 80px;
  position: absolute;
  right: 120px;
  background: #e31d3b;
  color: #fff;
  font-weight: bolder;
  box-shadow: none;
  cursor: pointer;
  height: 90%;
  padding: 6px 12px;
  line-height: 1.42px;
  font-size: 14px;
}

.reset {
  position: absolute;
  right: 0;
  margin: 0;
}

.fullscreen {
  position: absolute;
  right: 60px;
  margin: 0;
}

.run:hover,
.run:visited {
  color: #fff;
}
