body {
  box-sizing: border-box;
  background-color: #141313;
  height: 100vh;
  /* font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace,
    serif; */
}

.editor-container {
  width: 70%;
  height: calc(100vh - 130px);
  margin: 0.5rem;
  /* box-shadow: 1px 2px 5px #babebe; */
}

.CodeMirror,
.ReactCodeMirror {
  height: 100%;
}

.interface {
  display: flex;
}

.IO-container {
  display: flex;
  flex-direction: column;
  width: 27%;
  height: calc(100vh - 130px);
  margin: 0.5rem;
}

.input-container {
  height: 46%;
  margin-bottom: 20px;
}

.output-container {
  height: 46%;
}

.input-title {
  font-size: 20px;
  margin-left: 40px;
}

.output-title {
  font-size: 20px;
  margin-left: 20px;
  display: block; 
  margin-bottom: 10px;
}

